[[source]]
# url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
baidu-aip="*"
Jinja2="*"
flask="*"
PyYAML="*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
