digraph {
    label="{{ text|escape }}";

    node [shape=record];
    0 [label="ROOT"]
    {%- for item in items %}
    {{ item.id }} [label="{{ item.id }} | { {{ item.word|escape }} | {{ postags[item.postag]|escape }} }"];
    {%- endfor %}

    {%- for item in items %}
    {{ item.head }} -> {{ item.id }}  [label="{{ deprels[item.deprel]|escape }}"]
    {%- endfor %}
}